@tailwind base;
@tailwind components;
@tailwind utilities;

/**
*
*	Name:			IRANYekanX Fonts
*	Version:			2.4
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Aug 02, 2022
*	Updated on:		Aug 02, 2022
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان X  یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekanX fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 100;
  src: url("../../public/font/woff/IRANYekanX-Thin.woff"),
    url("../../public/font/woff2/IRANYekanX-Thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 200;
  src: url("../../public/font/woff/IRANYekanX-UltraLight.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/font/woff/IRANYekanX-Light.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-Light.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 500;
  src: url("../../public/font/woff/IRANYekanX-Medium.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 600;
  src: url("../../public/font/woff/IRANYekanX-DemiBold.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 800;
  src: url("../../public/font/woff/IRANYekanX-ExtraBold.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 900;
  src: url("../../public/font/woff/IRANYekanX-Black.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-Black.woff2") format("woff2");
}
@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 950;
  src: url("../../public/font/woff/IRANYekanX-ExtraBlack.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 1000;
  src: url("../../public/font/woff/IRANYekanX-Heavy.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/font/woff/IRANYekanX-Bold.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/font/woff/IRANYekanX-Regular.woff") format("woff"),
    url("../../public/font/woff2/IRANYekanX-Regular.woff2") format("woff2");
}

:root {
  
  --color-teal: #0EAD98;
  --bg-teal: #0ead9817;
  --color-tealLight: #0ead9817;

  /*dark*/
  --bg-dark-body: #475467;
  --bg-dark-card: #344054;
  --bg-dark-footer: #161a1e;

  --bg-neutralCustom: #222;
  --bg-neutralCustom-700: #4b5563;
  --white-color: #ffffff;
  --text-zincCustom-800: #333;
  --text-zincCustom-900: #475467;
  --text-slate-50: #F7F8FA;

  --text-grayCustom-100: #f3f4f6;
  --text-grayCustom-200: #EAECF0;
  --text-grayCustom-300: #D0D5DD;
  --text-grayCustom-400: #9ca3af;
  --text-grayCustom-500: #6b7280;
  --text-grayCustom-600: #4b5563;
  --text-grayCustom-700: #374151;
  --text-grayCustom-800: #1E2329;
  --text-grayCustom-900: #2B3139;
  --text-green-500: #22c55e;
  --text-green-400: #32D583;
  --text-yellow-500: #eab308;
  --text-red-500:#ef4444;
  --text-red-400: #F97066;
  --text-blue-dark-200:#B2CCFF;
  
}

body {
  font-family: IRANYekanX;
}

.background {
  background-image: url("../../public/images/Group1.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  
}



html.dark .background {
  background-image: url("../../public/images/Group1Dark.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  
}

@media (max-width: 420px) {
  .background {
    background-size: 150%; /* تصویر در حالت صفحه 320px بزرگ‌تر می‌شود */
  }

}

.swiper {
  width: 100%;
  height: 150px;
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 316px !important;
  
}

.blurSwiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  backdrop-filter: blur(6px); /* کدر کردن */
  box-shadow: 8px 10px 16px 0px rgba(0, 0, 0, 0.05); /* سایه */
  background: linear-gradient(112.91deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0) 111.71%);
  border: 1px solid;
  border-image-source: linear-gradient(110.65deg, #FFFFFF 1.16%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 0.75rem;
  overflow: hidden;
}

html.dark .blurSwiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  backdrop-filter: blur(6px); /* کدر کردن */
  box-shadow: 8px 10px 16px 0px rgba(0, 0, 0, 0.05); /* سایه */
  background: linear-gradient(112.91deg, #667085 3.51%, rgba(102, 112, 133, 0) 111.71%);
  border: 1px solid;
  border: 1px solid;
  border-image-source: linear-gradient(110.65deg, #FFFFFF 1.16%, rgba(255, 255, 255, 0.2) 100%);  
  border-radius: 0.75rem;
  overflow: hidden;
}
.container-for-swiper {
  position: relative;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.aboutUsBg {
  background-image: url('../../public/images/aboutUsBg.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  

  filter: blur(3px);
  -webkit-filter: blur(3px); 
  opacity: 0.3;
}




.show {display: block;}


.custom-shadow {
  box-shadow: rgba(191, 219, 254, 0.12) 0px 2px 4px 0px, rgba(191, 219, 254, 0.32) 0px 2px 16px 0px;
}

/* حذف border دور select2 */
.select2-container .select2-selection {
  border: none !important;
  box-shadow: none !important;
}

/* اگر border در حالت فوکوس هم وجود دارد، آن را حذف کنید */
.select2-container .select2-selection:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
/* فقط برای select2 با کلاس custom-select */
.custom-select + .select2-container .select2-selection {
  border: none !important;
  box-shadow: none !important;
}

/* افزایش عرض منوی کشویی */
.custom-select-dropdown {
  min-width: 200px; /* تنظیم حداقل عرض */
  width: auto; /* عرض متناسب با محتوای گزینه‌ها */
}

/* استایل گزینه‌ها (دلخواه) */
.custom-select-dropdown .select2-results__option {
  white-space: nowrap; /* جلوگیری از شکستن خطوط */
}

/* .accordion{
transition: 0.4s;
} */
.panel {
  max-height: 0; /* بسته */
  overflow: hidden;
  padding: 0; /* حذف padding در حالت بسته */
  transition: max-height 0.4s ease, padding 0.4s ease; /* اضافه کردن انتقال برای padding */
}

.panel.open {
  max-height: 300px;
  padding: 0px; 
}






.tabs-for-table {
  display: flex;
  justify-content: center;
}

.tab-button-for-table {
 
  outline: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  cursor: pointer;
 

}

.tab-button-for-table.active {
  color: #2563eb;
  color: white;
  border: #000 1px !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);

box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
 


}
.tab-button-for-table > .change > .active {
  color: #2563eb !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);

box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);


}

html.dark .tab-button-for-table{
  border:#374151 !important;
}

html.dark .tab-button-for-table > .change > .active {
  color: #2563eb !important;
  box-shadow: 0px 4px 20px 0px rgba(54, 63, 114, 0.25) !important;
  background-color: rgba(52, 64, 84, 1) !important;

}


.shadowBox{
  box-shadow: 0px 4px 20px 0px rgba(54, 63, 114, 0.25);

}

.tab-content-for-table {
  display: none;
}

.tab-content-for-table.active {
  display: block;
}

.group:hover .group-hover\\:flex {
  display: flex;
}

[dir="rtl"] #mobile-menu {
  left: 0;
  right: auto;
}

/* برای چپ‌چین */
[dir="ltr"] #mobile-menu {
  right: 0;
  left: auto;
}

[dir="rtl"] #mobile-menu1 {
  left: 0;
  right: auto;
}

/* برای چپ‌چین */
[dir="ltr"] #mobile-menu1 {
  right: 0;
  left: auto;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2rem); /* یا هر مقدار دلخواه مثل 2rem یا 20px */
  }
}

/* اعمال انیمیشن به کلاس triangle */
.triangle {
  animation: move 4s infinite alternate; /* 2s مدت زمان انیمیشن، infinite برای تکرار بی‌پایان */
}

/* استفاده از Tailwind برای پوزیشن دهی */
.triangle-wrapper {
  position: absolute; /* به این ترتیب می‌توانید مثلث‌ها را در هر جا
  یی قرار دهید */
}
html.dark img.triangle{
  src: '../../public/images/vectordark.svg';
}

[dir="ltr"] .changDir{
  right: 2px;
  left: auto;
}

/* جهت RTL */
[dir="rtl"] i.bx-chevron-left {
  content: "\e902"; /* کد آیکون bx-chevron-left */
}

/* جهت LTR */
[dir="ltr"] i.bx-chevron-left {
  content: "\e903"; /* کد آیکون bx-chevron-right */
}
